/* BASIC */
body, html {
  margin: 0;
	padding: 0;
	display: flex;
}
    
body {
	font-family: 'Raleway', sans-serif;
	font-size: 12px;
	color: #424242;
	width: 100%;
	max-width: 800px;
	padding: 5px;
	margin: auto auto;
	/* box-shadow: 0 2px 5px rgba(0, 0, 0, 0.26); */
}
    
h1, h2, h3, h4, h5 {
	margin: 0; 
}
    
header, nav, footer, section, article, div {
	box-sizing: border-box;
}


/* COMMON */
.dark-grey {
	color: rgb(84, 120, 165);
}

.grey {
	color: rgb(84, 120, 165);
}

.blue {
	color: rgb(2, 179, 228);
}
  
.right-align {
	float: right;
	text-align: right;
	flex: auto;
}

a {
	text-decoration: none;
	color: #232323;
	transition: color 0.3s ease;
}
  
a:hover {
	color: rgb(23, 87, 182);
}


/* HEADER */
header {
	width: 100%;
}

.container-logo {
	vertical-align: top;
}

.logo {
	margin: 3px;
}
.mark {
	fill: rgb(2, 179, 228);
	margin-top: 3px;
}

.social-media {
	height: 22px;
}
  
i.fa.fa-envelope, i.fa.fa-instagram, i.fa.fa-linkedin, i.fa.fa-github {
	font-size: 20px;
	height: 20px;
	width: 20px;
	margin: 8px;
	text-align: center;
	color: #424242;
}

i.fa.fa-envelope:focus, i.fa.fa-envelope:hover {
	color: goldenrod;
}

i.fa.fa-instagram:focus, i.fa.fa-instagram:hover {
	color: rgb(233, 16, 204);
}

i.fa.fa-linkedin:focus, i.fa.fa-linkedin:hover {
	color: rgb(0, 93, 171);
}

i.fa.fa-github:focus, i.fa.fa-github:hover {
	color: green;
}

.name {
	margin-top: 10px;
	font-size: 34px;
	align-self: right;
	line-height: 1;
}

.title {
	font-size: 18px;
	float: top;
	align-self: bottom;
	/* margin-left: 31px; */
}

.line {
	height: 6px;
	width: 100%;
	background-color: grey;
	margin-top: 20px
}


/* MAIN */

.container-img {
	display: flex;
	flex-wrap: wrap;
	flex: 300px;
}